asgiref==3.11.0
certifi==2025.11.12
cffi==2.0.0
charset-normalizer==3.4.4
cryptography==46.0.3
dj-database-url==3.1.0
dj-rest-auth==7.0.1
Django==5.2.9
django-allauth==65.13.1
django-extensions==4.1
djangorestframework==3.16.1
gunicorn==23.0.0
idna==3.11
oauthlib==3.3.1
packaging==25.0
pillow==12.1.0
psycopg2-binary==2.9.11
pycparser==2.23
PyJWT==2.10.1
python-dotenv==1.2.1
requests==2.32.5
sqlparse==0.5.5
urllib3==2.6.2
username-generator==2.0.0
